@model Mvc.Ux.Demos.Backend.Model.Country

<h1>@Model.CountryName</h1>
<h2>@Model.ContinentName</h2>
<hr />
<h3>@Model.AreaFormatted() kmq - @Model.PopulationFormatted() people - @Model.CurrencyCode</h3>

